<footer id="footer">
	<div class="container">
		<div class="row">
			{{ if .Site.Params.footerEnableContact }}
			<div class="col-md-3 col-md-offset-2 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>{{ if .Site.Params.phone }}{{ .Site.Params.phone }}<br>{{ end }}
					{{ if .Site.Params.email }}{{ .Site.Params.email }}<br>{{ end }}
						<br>
						{{ if .Site.Params.address }}{{ .Site.Params.address }}{{ end }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFollowme }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                            {{ if .footer }}
                                <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                            {{ end }}
                        {{ end }}
					</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableTextWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>
			{{ end }}

			{{ if .Site.Params.footerEnableFormWidget }}
			<div class="col-md-3 widget">
				<h3 class="widget-title">Mailing list</h3>
				<div class="widget-body">
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://gmail.us3.list-manage.com/subscribe/post?u=4fa72e54a46f952441df2386e&amp;id=b8946197cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4fa72e54a46f952441df2386e_b8946197cd" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
				</div>
			</div>
			{{ end }}

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>{{ if .Site.Params.address}}{{ .Site.Params.address }}{{ end }}</p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<br>
                    </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="assets/js/bundle.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
{{ if .Site.Params.disqus -}}
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ end -}}
{{ if .Site.Params.google.analytics -}}
{{ partial "analyticstracking.html" . }}
{{ end -}}
</body>
</html>
